{% include 'Doctors/layoutD/header.html'%}
<div class="card mb-3 border border-primary m-5 p-5" style="max-width: 540px">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{doctors.image.url}}" class="img-fluid rounded-start" alt="..."/>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{doctors.id}}-{{doctors}}</h5>
        <p class="card-text">age:{{doctors.age}}<br>report: {{doctors.report}}</p>
        <p class="card-text">specialization: {{doctors.specialization}}</p>
        <p class="card-text">mattress:  {{doctors.mattress}}</p>
        <p class="card-text"><small class="text-muted">{{doctors.uploaded_at}}</small></p>
        <p class="card-text"><small class="text-muted"><button type="button" class="btn btn-primary">
              <a
                href="{% url 'Doctors:edit' doctors.id %}"
                class="text-decoration-none text-white"
                >Update</a>
            </button>
            <button type="button" class="btn btn-danger">
              <a
                href="{% url 'Doctors:delete' doctors.id %}"
                class="text-decoration-none text-white"
                >Delete</a>
            </button></small>
        </p>
      </div>
    </div>
  </div>
</div>
