{% include "Doctors/layoutD/header.html" %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="danger">
        <use alink:href="#exclamation-triangle-fill" />
    </svg>
    <div>Operation Field</div>
    <hr>
    <div>
        <a href="{% url 'Doctors:home' %}" class="btn btn-primary">Go to Home</a>
        <a href="{% url 'Doctors:create' %}" class="btn btn-primary">Add New Doctor</a>
    </div>
</div>